body {
    --globalPrimaryFont: -apple-system,BlinkMacSystemFont,"Segoe UI",system-ui,Helvetica,Arial,sans-serif;
    --globalColorThemeFull: #fff;
    --globalBackground: rgba(0,0,0,.2);
    --globalColorThemeHighToMid: hsla(0,0%,100%,.72);
    --globalColorThemeFullToMid: hsla(0,0%,100%,.72);

    background-color: #312e2b;
    font-family: var(--globalPrimaryFont);
    font-size: 1.4rem;
    line-height: 1.43;
    margin: 0;
    padding: 0;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}